/* CSS DOCUMENT */
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

html,
body,
#map,
div.row:nth-child(1),
div.col-12:nth-child(1),
#wrapper {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    font-family: Raleway !important;
}
#map {
    position: relative;
}
.row {
    margin: 0px !important;
}
#wrapper {
    position: relative;
}
#over_map {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 20%;
    height: auto%;
}
#over_map_right {
    position: absolute;
    top: 0;
    right: 0%;
    z-index: 99;
    background-color: white;
    width: 20%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
#search_bar {
    background-color: white;
    top: 15px;
    left: 15px;
    width: 100%;
    height: auto;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: -4px 6px 22px -8px rgba(189, 189, 189, 1);
    -moz-box-shadow: -4px 6px 22px -8px rgba(189, 189, 189, 1);
    box-shadow: -4px 6px 22px -8px rgba(189, 189, 189, 1);
}
.mainBar {
    width: 100% !important;
    display: inline !important;
}
#panel,
#flip {
    text-align: left;
    background-color: white;
    /*width: auto;*/
}
#flip,
#flip b {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 25px;
    border: 0px;
    border-radius: 0px 0px 1000px 1000px;
    -webkit-box-shadow: -4px 6px 22px -8px rgba(189, 189, 189, 1);
    -moz-box-shadow: -4px 6px 22px -8px rgba(189, 189, 189, 1);
    box-shadow: -4px 6px 22px -8px rgba(189, 189, 189, 1);
    color: #bcbabb;
	cursor: pointer;
}
.form-group {
    margin-bottom: 0px !important;
}
#InputPostcode {
    margin-bottom: 15px;
}
#InputVoornaam {
    border: 0px;
    border-bottom: 1px solid #d3d3d3 !important;
    border-radius: 0px !important;
}
#settingsMore {
    background-color: white;
    width: inherit;
    height: inherit;
    text-align: center;
    display: none;
}
.laatmaarhiden > img:nth-child(1) {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    cursor: pointer;
}
#panel {
    display: none;
    background-color: white;
	max-height: calc(90vh - 122px);
    overflow-x: hidden;
    overflow-y: auto;
}
#panel h3 {
    padding-left: 15px;
}




.card-img-left {
    color: #fff;
    background-size: cover;
}
.profilepicture {
    border-radius: 100% !important;
    width: 75px;
    height: 75px;
    margin: 10px;
}
.bigpicture {
    width: 250px;
    height: 250px;
    margin-left: 15%;
    margin-top: 20px;
    border-radius: 100%;
}
.loginpicture {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-top: -5px;
}
.meerinfoheader {
    width: 100%;
    height: 40%;
}
.card:hover {
    background-color: #4c6ef3;
}
.laatmaarhiden {
    display: none;
}
.card-title {
    color: #717171 !important;
}
.card-text {
    color: #bcbabb !important;
}
.card {
    border-radius: 0px !important;
    box-shadow: 0 !important;
    border: 0 !important;
    border-bottom: 1px solid #bcbabb !important;
    cursor: pointer;
}

#noneFound {
	white-space: normal;
	color: red;
	
    -webkit-animation: makeBlue 1.5s linear;
    -moz-animation: makeBlue 1.5s linear;
    -o-animation: makeBlue 1.5s linear;
    -ms-animation: makeBlue 1.5s linear;
    animation: makeBlue 1.5s linear;
}


@-webkit-keyframes makeBlue {
	0% {color: red;}
	12.5% {color: red;}
    25% {color: blue;}
    37.5% {color: blue;}
	50% {color: red;}
	62.5% {color: red;}
    75% {color: blue;}
    87.5% {color: blue;}
	100% {color: red;}
}

@-moz-keyframes makeBlue {
	0% {color: red;}
	12.5% {color: red;}
    25% {color: blue;}
    37.5% {color: blue;}
	50% {color: red;}
	62.5% {color: red;}
    75% {color: blue;}
    87.5% {color: blue;}
	100% {color: red;}
}

@-o-keyframes makeBlue {
	0% {color: red;}
	12.5% {color: red;}
    25% {color: blue;}
    37.5% {color: blue;}
	50% {color: red;}
	62.5% {color: red;}
    75% {color: blue;}
    87.5% {color: blue;}
	100% {color: red;}
}

@-ms-keyframes makeBlue {
	0% {color: red;}
	12.5% {color: red;}
    25% {color: blue;}
    37.5% {color: blue;}
	50% {color: red;}
	62.5% {color: red;}
    75% {color: blue;}
    87.5% {color: blue;}
	100% {color: red;}
}


@keyframes makeBlue {
	0% {color: red;}
	12.5% {color: red;}
    25% {color: blue;}
    37.5% {color: blue;}
	50% {color: red;}
	62.5% {color: red;}
    75% {color: blue;}
    87.5% {color: blue;}
	100% {color: red;}
}

#sleeper {
    position: absolute;
    z-index: 99;
    background-color: blue;
    width: 5%;
    height: 100%;
}
#moreinfo {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    background-color: #e8e6e7;
    width: 20%;
    height: 100%;
}
#inhoudmeerinfo h3 {
    text-align: center;
    color: #717171 !important;
}
#inhoudmeerinfo h4,
h5 {
    margin-left: 20px;
    color: #bcbabb !important;
}
#inhoudmeerinfo h4 {
    padding-top: 15px;
    font-weight: lighter;
    color: #717171 !important;
}
#account {
    position: absolute;
    top: 2%;
    right: 2%;
    z-index: 99;
    width: auto;
    height: auto;
    color: #717171;
    /* SHADOWS */

    -webkit-box-shadow: -4px 6px 22px -8px rgba(189, 189, 189, 1);
    -moz-box-shadow: -4px 6px 22px -8px rgba(189, 189, 189, 1);
    box-shadow: -4px 6px 22px -8px rgba(189, 189, 189, 1);
}
#settingsMore p {
    margin: 0px;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}
#settingsMore a {
    color: #000;
    text-decoration: none;
}
#settingsMore {
    height: auto;
}
#mijngegevens p {
    margin: 0px;
    cursor: pointer;
}
#mijngegevens {
    padding: 10px;
    height: 40px;
    background-color: white;
}
.zoekfunctiebar {
    width: 12vw !important;
    margin: 10px;
    border: 0px;
    border-bottom: 1px solid #d3d3d3 !important;
    border-radius: 0px !important;
}
.zoekfunctiebutton {
    width: 18%;
    display: inline;
    cursor: pointer;
}
.zoekfunctiebutton > img {
    width: 100%;
}
.radio-inline1 {
    width: 50% !important;
    display: inline-block !important;
    margin-left: 10px;
}
.radio-inline2 {
    width: 50% !important;
    display: inline-block !important;
    margin-left: 10%;
}
.form-check-label {
    width: 100px;
	cursor: pointer;
}
.radio-inline3 {
    width: 50% !important;
    display: inline-block !important;
    margin-left: 10%;
}
.search-form {
    width: calc(12vw + 18%);
}
#settingsMore {
    display: none;
}

#infowindow h3 {
    margin: 0;
    font-family: Raleway !important;
}
#infowindow hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0.1em 0;
    padding: 0;
    font-family: Raleway !important;
}
#container {
    height: 100vh;
    white-space: nowrap;
}
#mapDiv {
    position: relative;
}
#map {
    height: 100%;
    width: 100%;
}
#search {
    top: 1vh;
    left: 1vw;
    height: auto;
    width: auto;
    padding: 10px;
    position: absolute;
	z-index: 10;
}
.searchPanel {
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: -4px 6px 22px -8px rgba(189, 189, 189, 1);
    -moz-box-shadow: -4px 6px 22px -8px rgba(189, 189, 189, 1);
    box-shadow: -4px 6px 22px -8px rgba(189, 189, 189, 1);
    padding: 10px;
}

.settingsItem {
    position: relative;
    display: block;
    height: 20px;
    padding: 0px 10px 10px 10px;
    color: #717171;
    cursor: pointer;
}
.settingsItem:hover {
    color: #A1A1A1;
}
#settingsUpDown {
    text-align: center;
    padding: 0;
    border-top: black solid 1px;
    height: 17px;
    background-color: white;
}

#allContacts {
    background-color: white;
    overflow-x: hidden;
    overflow-y: scroll;
}
#selectedContact {
    background-color: #e8e6e7;
    overflow-x: auto;
    overflow-y: auto;
}
#userInfo {
	display: table;
	margin: 0 auto;
	width: 75%;
}

.card {
    height: 100px;
	overflow-x: auto;
	overflow-y: hidden;
	-ms-overflow-y: -ms-autohiding-scrollbar;
	white-space: nowrap;
}
.card:hover {
    background-color: #4c6ef3;
}
.card .row {
	display: inline-block;
	text-align: left;
}
.card .col-md-3 {
	width: 100px;
	padding-left: 0px;
	display: inline-block;
	max-width: none;
	vertical-align: top;
}
.card .col-md-9 {
	width: auto;
	display: inline-block;
	max-width: none;
	padding: 0;
	vertical-align: top;
}

.cardImage,
.cardText {
}
.cardImage {
    text-align: left;
}
.cardImage img {
    height: 100%;
    border-radius: 100%;
    padding: 10px;
	border: 0.01px solid transparent;
}
.cardText {
    text-align: left;
    height: 100%;
    width: 70%;
}
.topbar {
    width: 100%;
    background-color: white;
    height: auto;
    text-align: left;
    border-bottom: 1px solid #bcbabb !important;
}

.darktopbar {
  width: 100%;
  background-color: #e8e6e7;;
  height: auto;
  text-align: left;
}
.close-icon-parent {
    cursor: pointer;
}
.close-icon {
    margin-left: 10px;
    line-height: 4vh !important;
    font-size: 50px !important;
    color: #a09c9c;
}
.profile-pic {
    width: 200px;
    height: 200px;
	display: table;
    border-radius: 100%;
    margin-top: 2vh;
    margin-left: auto !important;
    margin-right: auto !important;
}
.name {
  font-family: Raleway !important;
	text-align: center;
    font-weight: bold;
    font-size: 30px;
	margin-bottom: 0.5rem;
}
.user-extra {
  text-align: left;
	padding-left: 1%;
	width: 100%;
	white-space: normal;
	word-wrap: normal;
}
.user-extra h6 {
  color: #a09c9c;
}
.card-address {
    margin-bottom: 0px;
}
.card-naam {
        padding-top: 7px;
		margin-bottom: 0px;
}
.white {
    color: #fff !important;
}
.blue {
    background-color: blue !important;
}
.cardText > p {
    color: #a09c9c;
}

::-webkit-scrollbar {
    width: 5px;
	height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#mapDiv {
	width: 100vw;
	height: 100vh;
    transition-property: width;
    transition-delay: 0s;
	transition-timing-function: linear;
}

span.clear { clear: left; display: block; }

/*Responsive stuff*/
@media only screen and (min-width: 769px) {
    #settings {
        top: 1vh;
        right: 1vw;
        width: auto;
        position: absolute;
        background-color: white;
        padding: 10px;
        -webkit-box-shadow: -4px 6px 22px -8px rgba(189, 189, 189, 1);
        -moz-box-shadow: -4px 6px 22px -8px rgba(189, 189, 189, 1);
        box-shadow: -4px 6px 22px -8px rgba(189, 189, 189, 1);
    }

    body {
        margin: 0;
        overflow: hidden;
    }

    #mapDiv,
    #allContacts,
    #selectedContact {
        display: inline-block;
        text-align: center;
    }



    #allContacts,
    #selectedContact {
        height: 100%;
        width: 20vw;
        top: 0px;
        position: static;
    }

    #selectedContact {
        right: -20vw;
        position: fixed;
        transition-property: right;
        transition-duration: 0.2s;
        transition-delay: 0s;
        transition-timing-function: linear;

        -webkit-box-shadow: -4px 6px 22px -8px rgba(189, 189, 189, 1);
        -moz-box-shadow: -4px 6px 22px -8px rgba(189, 189, 189, 1);
        box-shadow: -4px 6px 22px -8px rgba(189, 189, 189, 1);
    }

    .noPanel {
        transition-duration: 0.4s;
        width: 100vw !important;
    }


    .onePanel {
        transition-duration: 0.2s;
        width: 80vw !important;
    }

    .twoPanels {
        transition-duration: 0.4s;
        width: 60vw !important;
    }

    .noFastPanel {
        transition-duration: 0.2s;
        width: 100vw !important;
    }

    .twoFastPanels {
        transition-duration: 0.2s;
        width: 60vw !important;
    }



    .showContact {
        right: 0vw !important;
    }

    .hideContact {
        bottom: -20vh !important;
    }
}


@media only screen and (max-width: 768px) {
    #settings {
        bottom: 1vh !important;
        left: 1vw !important;
        width: auto;
        position: absolute;
        background-color: white;
        padding: 10px;
		z-index: 5;
    }

    #mijngegevens > p > a {
        left: 0px;
        position: absolute;
    }

    #search {
        top: 1vh;
        left: 1vw;
        height: auto;
        width: 100vw;
        padding: 10px;
        position: absolute;
        width: 98vw;
    }

    .search-form {
        width: 100%;
    }

    .zoekfunctiebar {
        width: 88% !important;
    }

    body {
        margin: 0;
        overflow: hidden;
    }

    #mapDiv,
    #allContacts,
    #selectedContact {
        text-align: center;
    }

    #allContacts,
    #selectedContact {
        height: auto;
        width: 100vw;
        top: 0px;
        /*display: none;*/
    }

    #selectedContact {
        right: -20vw;
        transition-property: right;
        transition-duration: 0.2s;
        transition-delay: 0s;
        transition-timing-function: linear;
    }

    .noPanel {
        transition-duration: 0.4s;
        height: 100vh !important;
    }


    .onePanel {
        transition-duration: 0.2s;
        height: 60vh !important;
    }

    .twoPanels {
        transition-duration: 0.4s;
        height: 40vh !important;
    }

    .noFastPanel {
        transition-duration: 0.2s;
        height: 100vh !important;
    }

    .twoFastPanels {
        transition-duration: 0.2s;
        height: 40vh !important;
    }



    .showContact {
        right: 0vw !important;
    }

    .hideContact {
        right: -20vw !important;
    }

    #contactsList {
        overflow-y: scroll;
        height: 36vh;
        padding: 10px;
    }

    .card {
        border-radius: 3% !important;
        margin-bottom: 5px;
    }

    .card:hover {
        color: #fff;
    }

    .card:hover > .row > .col-md-9 > .cardText > p {
        color: #fff;
    }

    #contactsList > a:last-child > div {
        margin-bottom: 0px !important;
    }
}

.hidden {
    display: none !important;
}

.vh60 {
    height: 60vh !important;
}