html{
	overflow-y: scroll;
}

body{
  background-color: #ECEFF1;
  color: #fff;
}

.container {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.input-group-addon{
  background-color: #ECEFF1;
  border: 2px solid #fff;
  color: #263238;
}

.form-control{
  background-color: #ECEFF1;
  border: 2px solid #fff;
  color: #263238;
}

.btn-primary{
  background-color: #2196F3;
  border-color: #2196F3;
}

.login-container {
    background-color: transparent;
}

.login{
  margin: auto;
  position: absolute;
  bottom: 50%;
  right: 0;
  left: 0;
  transform: translateY(50%);
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  z-index: 2222;
}

.login-title{
  background-color: #4e67e8;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 13px 0;
}

.login-title > .login-image {
	width: calc(100% - 26px);
	height: 253.97px;
}

.login-title > h3 {
    margin-top: 11px !important;
}

.login-content{
  padding-top: 20px;
}

.login-footer{
  padding-bottom: 25px;
}

#map {
	position: fixed !important;
    height: 100vh;
    width: 100vw;
}

@media only screen and (max-height: 465.14px) {
	.login {
		margin-top: 10px;
		margin-bottom: 10px;
		bottom: unset;
		transform: translateY(0);	
	}
}

@media only screen and (min-width: 992px) {
	.login {
		min-width: 661px;
	}
}