body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:800px;
}
#u304 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:800px;
}
#u304_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u305 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u306 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:11px;
  width:300px;
  height:104px;
}
#u306_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u307_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u307 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:17px;
  width:85px;
  height:29px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u307_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u308 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:50px;
  width:265px;
  height:25px;
}
#u308_input {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u309 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:81px;
  width:140px;
  height:25px;
}
#u309_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u310 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:116px;
  width:40px;
  height:40px;
}
#u310_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u311 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u312 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:332px;
  width:40px;
  height:40px;
}
#u312_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:293px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u313 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:39px;
  width:300px;
  height:293px;
  color:#FFFFFF;
}
#u313_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u314 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:71px;
  width:81px;
  height:18px;
}
#u314_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u315_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u315 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:49px;
  width:70px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u315_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u316 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:70px;
  width:185px;
  height:20px;
}
#u316_input {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u317_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u317 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:99px;
  width:81px;
  height:18px;
}
#u317_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u318 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:98px;
  width:185px;
  height:20px;
}
#u318_input {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u319 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:126px;
  width:81px;
  height:18px;
}
#u319_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u320 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:125px;
  width:185px;
  height:20px;
}
#u320_input {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u321 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:155px;
  width:45px;
  height:18px;
}
#u321_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u322 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:154px;
  width:185px;
  height:20px;
}
#u322_input {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u323 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:182px;
  width:81px;
  height:18px;
}
#u323_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u324 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:181px;
  width:185px;
  height:20px;
}
#u324_input {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:20px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u325 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:213px;
  width:78px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u325_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u326 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:235px;
  width:100px;
  height:16px;
}
#u326_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u326_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u327 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:235px;
  width:100px;
  height:16px;
}
#u327_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u327_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u328 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:235px;
  width:92px;
  height:16px;
}
#u328_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u328_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u329 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:253px;
  width:100px;
  height:16px;
}
#u329_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u329_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u330 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:253px;
  width:86px;
  height:16px;
}
#u330_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u330_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u331 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:279px;
  width:100px;
  height:16px;
}
#u331_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u331_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u332 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:279px;
  width:100px;
  height:16px;
}
#u332_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u332_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u333 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:301px;
  width:140px;
  height:25px;
}
#u333_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u334 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u335 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:16px;
  width:204px;
  height:124px;
}
#u335_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u336_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u336 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:23px;
  width:140px;
  height:26px;
}
#u336_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u337 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:96px;
  width:140px;
  height:25px;
}
#u337_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u338 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:61px;
  width:140px;
  height:25px;
}
#u338_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u338_ann {
  border-width:0px;
  position:absolute;
  left:800px;
  top:57px;
  width:1px;
  height:1px;
}
#u339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u339 {
  border-width:0px;
  position:absolute;
  left:807px;
  top:17px;
  width:55px;
  height:55px;
}
#u339_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u339_ann {
  border-width:0px;
  position:absolute;
  left:855px;
  top:13px;
  width:1px;
  height:1px;
}
#u340 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:800px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u341 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:0px;
  width:323px;
  height:800px;
  opacity:0.85;
}
#u341_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u341_ann {
  border-width:0px;
  position:absolute;
  left:1192px;
  top:-4px;
  width:1px;
  height:1px;
}
#u342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:801px;
}
#u342 {
  border-width:0px;
  position:absolute;
  left:1199px;
  top:0px;
  width:1px;
  height:800px;
}
#u342_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u343 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:34px;
  width:130px;
  height:37px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u343_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u344 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:81px;
  width:56px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u344_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u345 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:142px;
  width:175px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u345_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u346 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:202px;
  width:173px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u346_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u347 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:257px;
  width:246px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u347_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  white-space:nowrap;
}
#u348 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:279px;
  width:246px;
  height:25px;
}
#u348_input {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u349 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:222px;
  width:246px;
  height:25px;
}
#u349_input {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u350 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:164px;
  width:246px;
  height:25px;
}
#u350_input {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u351 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:107px;
  width:246px;
  height:25px;
}
#u351_input {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u352 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:738px;
  width:140px;
  height:40px;
}
#u352_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
